{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<body id="account-bg-image">

  <div class="d-flex justify-content-center login-form text-white">
    <div>
      <h1>{% trans "Sign Out" %}</h1>

      <p>{% trans 'Are you sure you want to sign out?' %}</p>

      <form class="form-control sign-out-form" method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <input type="button" class="btn btn-light text-dark-blue mb-2 roboto" value="Go back!"
                                    onclick="history.back()">
        <button type="submit" class="btn btn-light text-dark-blue mb-2 roboto">{% trans 'Sign Out' %}</button>
      </form>
    </div>
  </div>
</body>

{% endblock %}