{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div id="account-bg-image" class="body-div">
  <div class="d-flex justify-content-center login-form text-white">
    <div  class="logout-page">
      <h1 class="text-center">{% trans "Sign Out" %}</h1>
      <p>{% trans 'Are you sure you want to sign out?' %}</p>

      <form class="form-control sign-out-form bg-transparent" method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <input type="button" class="btn btn-light text-dark-blue mb-2 roboto cancel-btn" value="Cancel"
          onclick="history.back()">
        <button type="submit"
          class="btn btn-primary text-white mb-2 roboto logout-button">{% trans 'Sign Out' %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}