body {
    font-family: 'Roboto', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.space-mono {
    font-family: 'Space Mono', sans-serif;
}

.text-white {
    color: #FFF;
}

.navbar {
    background-color: rgba(176, 48, 176, 0.8);
}

.navbar-brand {
    color: #FFF;
}

.nav-item>a.nav-link {
    color: #FFF;
}

a.nav-link.active {
    color: #FFF;
}

nav a {
    box-shadow: inset 0 0 0 0 #6C91BF;
    color: #6C91BF;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

nav a:hover {
    box-shadow: inset 100px 0 0 0 #6C91BF;
    color: white;
}

.navbar-text {
    color: #FFF;
}

#home-bg-image {
    background-image: url('/static/images/sfportal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#books-bg-image {
    background-image: url('/static/images/sf-portal-stars.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#stars-bg-image {
    background-image: url('/static/images/sf-portal-stars.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#footer {
    background-color: rgba(108, 145, 191, 0.4);
}

.fixed-row-bottom {
    position: fixed;
    bottom: 6rem;
}

.text-white {
    color: #FFF;
}

.button-margin {
    margin: 0.5rem;
}

h4 {
    font-family: "roboto";
}

.book-img {
    width: 20%;
    height: auto;
}

.image-container {
    width: 60%;
}

#about-bg-image {
    background-image: url('/static/images/sf-portal-about.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}