body {
    font-family: 'Roboto', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.space-mono {
    font-family: 'Space Mono', sans-serif;
}

.navbar {
    background-color: #b030b0;
}

.navbar-brand {
    color: #FFF;
}

.nav-item > a.nav-link {
    color: #FFF;
}

a.nav-link.active {
    color: #FFF;
}

.navbar-text {
    color: #FFF;
}

#home-bg-image {
    background-image: url('/static/images/sfportal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#footer {
    background-color: rgba(108, 145, 191, 0.4);
}

.fixed-row-bottom {
    position: fixed;
    bottom: 6rem;
}

.text-white {
    color: #FFF;
}

.button-margin {
    margin: 0.5rem;
}

h4 {
    font-family: "roboto";
}