* {
    font-family: 'Space Mono';
}

/* Fonts and text color */

body {
    font-family: 'Roboto', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.space-mono {
    font-family: 'Space Mono', sans-serif;
}

.text-white {
    color: #FFF;
}

.text-dark-blue {
    color: #202060;
}

.text-red {
    color: #FF0000;
}

.text-purple {
    color: #b030b0;
}

.text-small {
    font-size: 85%;
}

.fa-star {
    color: #FFFF00;
}

/* Navbar styling */

.navbar {
    background-color: rgba(176, 48, 176, 0.6);
}

.navbar-brand {
    color: #FFF;
}

.navbar-toggler {
    color: #FFF;
}

a.nav-link.active {
    color: #FFF;
}

nav a {
    box-shadow: inset 0 0 0 0 #FFF;
    color: #FFF;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover {
    box-shadow: inset 100px 0 0 0 #6C91BF;
    color: #FFF;
}

.search-results {
    color: white;
    list-style: none;
}

.navbar-text {
    color: #FFF;
}

/* Background images */

#home-bg-image {
    background-image: url('/static/images/sfportal-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#books-bg-image {
    background-image: url('/static/images/sf-portal-stars-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#stars-bg-image {
    background-image: url('/static/images/sf-portal-stars-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#account-bg-image {
    background-image: url('/static/images/sf-portal-enter-portal-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#about-bg-image {
    background-image: url('/static/images/sf-portal-about-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#add-book-bg-image {
    background-image: url('/static/images/sf-portal-add-book-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#profile-bg-image {
    background-image: url('/static/images/profile-bg-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.fixed-row-bottom {
    position: fixed;
    bottom: 6rem;
}

.button-margin {
    margin: 0.5rem;
}

h4 {
    font-family: "roboto";
}

/* Images */

.book-card {
    height: 90%;
}

.book-link {
    text-decoration: none;
}

.read-more-link {
    text-decoration: none;
    font-weight: 700;
}

.books-container {
    display: table;
}

.book-col {
    display: table-cell;
}

.author-container {
    display: table;
}

.author-col {
    display: table-cell;
}

.book-img {
    width: 200px;
    height: auto;
    object-fit: cover;
    
}

.book-detail-img {
    width: 300px;
    height: auto;
}

.profile-img {
    width: 200px;
    height: auto;
    margin: auto;
}

.author-default {
    width: 250px;
    height: auto;
}

.author-image {
    width: 250px;
    height: auto;
}

.image-container {
    width: 60%;
}

/* Forms */

.login-form {
    margin-top: 15%;
}

.signup-form {
    margin-top: 3%;
}

.bg-opacity {
    background-color: rgba(0, 0, 0, 0.4);
}

.social:hover {
    color: rgba(176, 48, 176, 0.6);
}

.add-review:hover {
    color: #202060;
    background-color: #6C91BF;
}

.form-control {
    color: #FFF;
    background-color: rgba(108, 145, 191, 0.4);
}

form input {
    width: 100%;
}

#id_username {
    background-color: rgba(108, 145, 191, 0.4);
    border: 1px solid white;
    color: #FFF;
    text-align: center;
}

#id_email {
    background-color: rgba(108, 145, 191, 0.4);
    border: 1px solid white;
    color: #FFF;
    text-align: center;
}

#id_first_name {
    background-color: rgba(108, 145, 191, 0.4);
    border: 1px solid white;
    color: #FFF;
    text-align: center;
}

#id_last_name {
    background-color: rgba(108, 145, 191, 0.4);
    border: 1px solid white;
    color: #FFF;
    text-align: center;
}

#id_bio {
    background-color: rgba(108, 145, 191, 0.4);
    border: 1px solid white;
    color: #FFF;
    text-align: center;
}

#id_user_image {
    background-color: rgba(108, 145, 191, 0.4);
    border: 1px solid white;
    color: #FFF;
    align-items: center;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
.form-control::placeholder { 
    color: #FFF;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #FFF;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #FFF;
}

.sign-out-form {
    text-align: center;
    background: transparent;
    border: none;
}

.profile-form {
    text-align: center;
}

.logout-button {
    margin: 0.6rem;
    width: fit-content;
}

.delete-cancel {
    width: fit-content;
}

.alert-button {
    background: transparent !important;
    border: none !important;
}

button {
    background: transparent;
    border: none;
}

.fa-user {
    padding-right: 0.8rem;
}

.card-body p {
    color:white; 
}

.author-bio {
    color: white !important;
}

.search-btn {
    margin-top: 0.8rem;
    background: rgba(176, 48, 176, 0.6);
    color: white;
    margin-bottom: 0.8rem;
    border: 1px solid;
}

.search-field {
    width: 80%;
    margin: auto;
}

.search-back {
    width: min-content;
    margin: auto;
}

.update-profile-btn {
    margin-bottom: 0.7rem;
    color: #FFF;
    background-color: rgba(176, 48, 176, 0.6);
}

.card {
    border: 1px solid #FFF;
}

.author-bio-bg {
    background-color: rgba(255, 255, 255, 0.7);
}

/* Media Queries */