{% extends "base.html" %}
{% load static %}

{% block title %}
About
{% endblock %}

{% block content %}

<div id="about-bg-image" class="body-div">
    <div class="container mt-3">
        <div class="row justify-content-end text-white">
            <div class="col-md-8 border text-center rounded about-container bg-opacity text-end">
                <h2 class="mt-3">Welcome to the Sci-Fi Portal</h2>
                <h4 class="mt-3">Thank you for signing up to our community!</h4>
                <hr>
                <h6 class="mt-3">Have you ever read a work of science fiction so spectacular that you feel the galaxy
                    needs to know
                    about it?</h6>
                <p class="mt-3">Then this is the place for you! As a member of the Portal you can see reviews of these
                    masterpieces
                    by fellow 'Portalers' at our <a href="{% url 'books' %}" class="text-purple about-link">books</a> page. You can
                    also
                    share your own journeys into the world of Sci-fi by easily <a href="{% url 'add_book' %}"
                        class="text-purple about-link">submitting</a> your own reviews. You can also upload an image of the book!
                </p>
                <p>You can easily add to, edit or delete reviews that you add to the site. You can become more involved
                    in the community by voicing your opinions on reviews by other Portalers using the comments section
                    at the bottom of each individual review. Other users can also comment on your posts but don't worry,
                    although we love a discussion within the Portal, it is a safe space and comments must be approved by
                    the admin team! </p>
                <p>When you signed up to the Portal we automatically created a <a href="{% url 'profile' %}"
                        class="text-purple about-link">profile</a> for you, so feel free to add to, or edit this, if you want to
                    let
                    us know a little more about yourself!</p>
                <p>Don't forget to check out our <a href="{% url 'authors' %}" class="text-purple about-link">authors</a> page to
                    see a list of some of our favourite authors. We are always adding more so keep an eye out for new
                    inspiration. You won't be disappointed! If you have an author who you think we need to hear about,
                    drop us an <a href="mailto:enquiries@sci-fi-portal.net" class="text-purple about-link">email</a> and one of the
                    team will get to work on adding their bio to the Portal!</p>
                <p>One final piece of advice before you set off into the Portal: did you know you can use our handy <a
                        href="{% url 'home' %}" class="text-purple about-link">search</a> feature to search for books and authors
                    directly from the home page? Be sure to check that out too!</p>
                <p>Welcome again, and we hope you enjoy your journey in the Portal!</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}