{% extends "base.html" %}
{% load cloudinary %}
{% load static %}


{% block title %}
Submit a Review
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div id="add-book-bg-image" style="background-image: url({% static 'images/sf-portal-add-book-min.jpg' %});" class="text-white body-div">
    {% if user.is_authenticated %}
    <div class="container add-book-container">
        <div class="row justify-content-center">
            <div class="col col-md-8 mb-3">
                <h3 class="text-center mb-3">Submit a New Book Review in the form below...</h3>
                <div class="form-group">
                    <form method="POST" enctype="multipart/form-data" class="form-control bg-opacity">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="col text-center">
                            <button class="btn btn-action text-dark-blue mb-2">Submit review</button>
                        </div>
                </div>

                <script>
                    let user = "{{ user.id }}";
                    document.getElementById("user").value = user;
                </script>

            </div>
        </div>
    </div>
    {% else %}
    <h3 class="text-center">You must be logged in to submit a review</h3>
    {% endif %}

</div>

{% endblock %}