{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block title %}
Authors
{% endblock %}

{% block content %}

<div id="stars-bg-image" style="background-image: url({% static 'images/sf-portal-stars-min.jpg' %});" class="body-div">

    {% if user.is_authenticated %}

    <!-- Featured Authors -->
    <div class="container rounded border author-page-container bg-opacity">
        <div class="row">
            <div class="col col-md-12 d-flex mt-3 justify-content-center text-white">
                <h2>Featured Authors</h2>
            </div>
        </div>
        <div class="row justify-content-center text-white">
            <div class="col-md-12 mb-3 text-center">
                <h3>Here are some of our favourite authors!</h3>
                <h4 class="text-secondary text-white text-small">Can't see one of your favourites? <a
                        href="mailto:enquiries@sci-fi-portal.net" class="text-purple-large">email us</a> and we will add
                    a bio!</h4>
            </div>
        </div>
    </div>

    <!-- Author list -->
    <div class="container-fluid author-container">
        <div class="row mt-3">
            <div class="col-12 mt-3 left author-col">
                <div class="row">
                    {% for author in author_list %}
                    <div class="col-md-4 mb-3 mt-3 author-col">
                        <div class="card h-100 mb-4 bg-opacity text-white">
                            <div class="row row-no-gutters">
                                <div class="col-lg-6">
                                    {% if "placeholder" in author.author_image.url %}
                                    <a href="{% url 'author_detail' author.slug %}"><img class="author-img img-fluid"
                                            src="{% static 'images/blank-profile-picture.png' %}" alt="Default Image"></a>
                                    {% else %}
                                    <a href="{% url 'author_detail' author.slug %}"><img
                                            class="card-img-left img-fluid author-img"
                                            src="{{ author.author_image.url }}" alt="Author Image"></a>
                                    {% endif %}
                                </div>
                                <div class="col-lg-6">
                                    <div class="card-body">
                                        <a href="{% url 'author_detail' author.slug %}"
                                            class="book-link text-purple-large">
                                            <h4 class="card-title text-white text-align-right">{{ author.name }}
                                            </h4>
                                        </a>
                                        <p class="author text-white">Born: <span
                                                class="text-white">{{ author.date_of_birth }}</span></p>
                                        <p class="text-purple"><strong>Famous works: </strong><span
                                                class="text-white">{{ author.famous_books }}</span></p>
                                        <p><a href="{% url 'author_detail' author.slug %}"
                                                class="text-purple-large roboto">View full bio</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">

                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}"
                        class="btn btn-md btn-outline-light add-review text-white bg-opacity roboto next">&laquo;
                        Prev</a></li>

                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}"
                        class="btn btn-md btn-outline-light add-review text-white bg-opacity roboto next">Next
                        &raquo;</a></li>
                {% endif %}

            </ul>
        </nav>
        {% endif %}

    </div>

    {% else %}
    <div class="container author-detail-page-container">
        <div class="row justify-content center text-center mt-3 mb-3">
            <div class="col text-center book-detail-img">
                <h2 class="text-white text-center mt-3">You must be logged in to view this content!</h2>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock%}