{% extends "base.html" %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<body id="stars-bg-image">
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center mt-3 mb-3">
            <div class="col-md-4 book-detail-img">
                {% if "placeholder" in author.author_image.url %}
                <img class="book-img img-fluid img-responsive author-default" src="/static/images/blank-profile-picture.png" alt="Default Image">
                {% else %}
                <img src=" {{ author.author_image.url }}" class="img-fluid mx-auto d-block book-detail-img">
                {% endif %}
            </div>
            <div class="col-md-8 text-white">
                <h2 class="book-title">{{ author.name }}</h1>
                <h3 class="book-subtitle">Residence: {{ author.residence }} </h2>
                <h3>Born: {{ author.date_of_birth }} </h3>
                <hr>
                <h4>Famous works: {{ author.famous_books }}</h4>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col card mb-4  mt-3 left  top bg-opacity text-white">
                <div class="card-body">
                    <h4>Bio</h4>
                    <p class="card-text text-white roboto author-bio">
                        {{ author.bio | safe }}
                    </p>
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
                </div>
            </div>
        </div>
    </div>

</body>

{% endblock %}