{% extends "base.html" %}
{% load static %}

{% block content %}

<body id="stars-bg-image">
    
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success roboto text-dark-blue alert-dismissible fade text-center show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    <div class="container">
        <div class="row mt-3 ">
            <div class="col col-md-12 d-flex justify-content-center text-white">
                <h2>Featured Authors</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid author-container">
        <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row">
                    {% for author in author_list %}
                    <div class="col-md-4 mb-3 mt-3 author-col">
                        <div class="card h-100 mb-4 bg-opacity text-white">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in author.author_image.url %}
                                    <img class="book-img img-fluid img-responsive" src="/static/images/blank-profile-picture.png"
                                        alt="Default Image">
                                    {% else %}
                                    <img class="card-img-left img-fluid img-responsive book-img"
                                        src="{{ author.author_image.url }}" alt="Book Image">
                                    {% endif %}
                                    <div class="image-flash">
                                        <a href="{% url 'author_detail' author.slug %}" class="book-link text-dark-blue">
                                            <h2 class="card-title text-dark-blue text-align-right">{{ author.name }}</h2>
                                        </a>
                                        <span class="author">Date of birth: {{ author.date_of_birth }}</span>
                                        <br>
                                        <span class="rating">Lives in: {{ author.residence }} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}"
                        class="btn btn-md btn-outline-light add-review text-white roboto next">&laquo; Prev</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}"
                        class="btn btn-md btn-outline-light add-review text-white roboto next">Next &raquo;</a></li>

                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>

    <script>
        function addClass() {
            var elem = document.getElementByClassName("close");
            elem.classList.add("alert-button");
        }
    </script>

</body>

{% endblock%}