{% extends "base.html" %}
{% load static %}

{% block title %}
Book Detail
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}


<div id="stars-bg-image" class="body-div">

    {% if user.is_authenticated %}

    <div class="container book-detail-page-container">
        <div class="row d-flex flex-wrap align-items-center mt-3 mb-3">
            <div class="col-md-4 book-detail-img">

                <!-- Book detail image -->
                {% if "placeholder" in book.cover_image.url %}

                <img class="book-img img-fluid img-responsive" src="/static/images/default-book-image.jpeg"
                    alt="Default Book Image">
                {% else %}
                <img src=" {{ book.cover_image.url }}" class="img-fluid mx-auto d-block book-detail-img"
                    alt="Book Detail Image">

                {% endif %}

            </div>
            <div class="col-md-8 text-white g-0">
                <h1 class="book-title">{{ book.title }}</h1>
                <h2 class="book-subtitle">Author: {{ book.author }} </h2>

                <!-- Edit and delete buttons if logged in as that user -->
                {% if user.is_authenticated %}
                {% if user.id == book.created_by.id %}
                <a href="{% url 'edit_book' book.pk %}" class="text-white roboto">Edit</a>
                <a href="{% url 'delete_book' book.pk %}" class="text-white roboto">Delete</a>
                {% endif %}
                {% endif %}

                <h3> Rating: {{ book.rating }} <i class="fa-solid fa-star"></i></h3>
                <hr>
                <div class="card bg-opacity px-3 py-3">
                    <h4>Synopsis</h4>
                    <p class="card-text text-white">
                        {{ book.synopsis }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col card mb-3 left top bg-opacity text-white">
                <div class="card-body">
                    <h4>Review</h4>
                    <p>Review by {{ book.created_by }}

                        {% if user.is_authenticated %}
                        {% if user.id == book.created_by.id %}
                        <span class="text-white"><a href="{% url 'edit_book' book.pk %}"
                                class="text-purple roboto">Edit</a>|<a href="{% url 'delete_book' book.pk %}"
                                class="text-purple roboto">Delete</a></span>
                        {% endif %}
                        {% endif %}

                        <p class="card-text text-white">
                            {{ book.review_content|safe }}
                        </p>
                        <div class="row">
                            <div class="col-4">

                                {% if user.is_authenticated %}
                                <form action="{% url 'book_like' book.slug %}" method="POST" class="d-inline">
                                    {% csrf_token %}
                                    {% if liked %}
                                    <button type="submit" name="bookpost_id" value="{{post.slug}}" class="btn-like"
                                        aria-label="like"><i
                                            class="fas fa-heart text-red"></i></button>{{ book.number_of_likes}}
                                    {% else %}
                                    <button type="submit" name="bookpost_id" value="{{post.slug}}" class="btn-like"
                                        aria-label="like"><i
                                            class="far fa-heart text-red"></i></button>{{ book.number_of_likes}}
                                    {% endif %}
                                </form>
                                {% else %}
                                <span class="text-secondary text-white"><i class="far fa-heart"></i>
                                    {{ book.number_of_likes }} </span>
                                {% endif %}

                                {% with comments.count as total_comments %}
                                <span class="text-white"><i class="far fa-comments text-white"></i>
                                    {{ total_comments }}</span>
                                {% endwith %}
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <!-- Comments -->
        <div class="row">
            <div class="col-md-8 card mb-4 mt-1 bg-opacity text-white px-2 py-2">
                <h4>Comments:</h4>
                <div class="card-body">
                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            {{ comment.name }} | {{ comment.created_on }}
                        </p>
                        {{ comment.content | linebreaks }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Comment alert -->
            <div class="col-md-4 card mb-4  mt-1 bg bg-opacity">
                <div class="card-body">
                    {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Thank you for submitting your comment, it is currently awaiting approval.
                    </div>
                    {% else %}

                    {% if user.is_authenticated %}
                    <h4 class="text-white">Add a comment: </h4>
                    <p class="text-purple">Posting as: {{ user.username }}</p>
                    <form method="post" style="margin-top: 1.3em" class="text-white text-center">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-signup btn-light text-purple btn-lg">Submit</button>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container author-detail-page-container">
        <div class="row justify-content center text-center mt-3 mb-3">
            <div class="col text-center book-detail-img">
                <h2 class="text-white text-center mt-3">You must be logged in to view this content!</h2>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}