{% extends "base.html" %}
{% load static %}

{% block content %}

<body id="stars-bg-image">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row">
                    {% for book in book_list %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in book.cover_image.url %}
                                    <img class="book-img" src="/static/favicon.ico" alt="Default Image">
                                    {% else %}
                                    <img class="card-img-top book-img" src="{{ book.cover_image.url }}" alt="Book Image">
                                    {% endif %}
                                    <!-- <div class="image-flash"> -->
                                        <span class="author">Author: {{ book.author }}</span>
                                        <br>
                                        <span class="rating">Rating: {{ book.rating }}</span>
                                    <!-- </div> -->
                                </div>
                                <a href="{% url 'book_detail' book.slug %}" class="book-link">
                                    <h2 class="card-title">{{ book.title }}</h2>
                                    <p class="card-text">{{ book.synopsis }}</p>
                                </a>
                                <hr>
                                <p class="card-text text-muted h6">{{ book.created_on }}<i
                                        class="far fa-heart"></i>{{ book.likes }}</p>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

                {% endif %}
            </ul>
        </nav>
        {% endif %}

    </div>

</body>

{% endblock %}