{% extends "base.html" %}
{% load static %}

{% block title %}
Delete Review
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<body id="add-book-bg-image" class="text-white roboto">
    <h3 class="text-center mt-3">Delete Review...</h3>
    <h4 class="text-center mt-3">Delete {{ book.title }}</h4>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-md-8 mt-3 mb-3">
                <div class="form-group">
                    <form method="POST" class="form-control bg-opacity">
                        {% csrf_token %}
                        <strong>Are you sure??</strong>
                        <div class="col text-center">
                            <button class="btn btn-light text-dark-blue mb-2">Delete Post</button>
                        </div>
                </div>
            </div>
        </div>
    </div>


</body>

{% endblock %}