{% extends "base.html" %}
{% load static %}

{% block title %}
Delete Review
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<body id="add-book-bg-image" class="text-white roboto">
    <h3 class="text-center mt-3">Delete {{ book.title }}?</h3>
    <div class="container">
        <div class="row h-100 justify-content-center">
            <div class="col col-md-8 mt-3 mb-3 align-self-center">
                <div class="form-group">
                    <form method="POST" class="form-control bg-opacity text-center">
                        {% csrf_token %}
                        <strong>Are you sure?? If you click the button, there is no going back!</strong>
                        <br>
                        <hr>
                        <div class="col text-center mb-2">
                            <form>
                                <input type="button" class="btn btn-light text-dark-blue mb-2 roboto" value="Go back!"
                                    onclick="history.back()">
                                <button class="btn btn-light text-dark-blue mb-2 roboto">Delete Post</button>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>


</body>

{% endblock %}