{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block title %}
Delete Review
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div id="add-book-bg-image" class="text-white roboto body-div">

    {% if user.is_authenticated %}
    {% if user.id == book.created_by.id %}

    <div class="container delete-book-container">
        <div class="row h-100 justify-content-center">
            <div class="col col-md-8 mt-3 mb-3 align-self-center">
                <h3 class="text-center my-3">Delete {{ book.title }}?</h3>
                <div class="form-group">
                    <form method="POST" class="form-control mt-3 bg-opacity text-center">
                        {% csrf_token %}
                        <strong>Are you sure?? If you click delete, there is no going back!</strong>
                        <br>
                        <hr>
                        <div class="col text-center mb-2">
                            <form>
                                <input type="button" class="btn mb-2 roboto bg-opacity border delete-cancel"
                                    value="Cancel" onclick="history.back()">
                                <button class="btn mb-2 roboto bg-opacity border delete-cancel">Delete Book</button>
                            </form>
                        </div>
                </div>
                {% else %}
                <h3 class="text-center text-white">You do not have permission too delete this post</h3>
                {% endif %}
                {% else %}

                <h3 class="text-center text-white">You must be logged in to delete a post</h3>

                {% endif %}
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}