{% extends "base.html" %}
{% load cloudinary %}
{% load static %}

{% block title %}
Edit Review
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div id="add-book-bg-image" style="background-image: url({% static 'images/sf-portal-add-book-min.jpg' %});" class="text-white roboto body-div">
    
    {% if user.is_authenticated %}
    {% if user.id == book.created_by.id %}

    <div class="container edit-book-container">
        <div class="row justify-content-center">
            <div class="col col-md-8 mb-3">
                <h3 class="text-center mb-3">Edit Review...</h3>
                <div class="form-group mt-3">
                    <form method="POST" enctype="multipart/form-data" class="form-control bg-opacity mt-3">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="col text-center">
                            <button class="btn btn-action text-dark-blue mb-2">Update</button>
                        </div>
                        {% else %}
                        <h3 class="text-center text-white edit-book-container">You do not have permission to edit this review</h3>
                        {% endif %}
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}