{% extends "base.html" %}
{% load cloudinary %}
{% load static %}

{% block title %}
Edit Review
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<body id="add-book-bg-image" class="text-white roboto">
    {% if user.is_authenticated %}
    {% if user.id == book.created_by.id %}
    <h3 class="text-center mt-3">Edit Review...</h3>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-md-8 mt-3 mb-3">
                <div class="form-group">
                    <form method="POST" enctype="multipart/form-data" class="form-control bg-opacity">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="col text-center">
                            <button class="btn btn-light text-dark-blue mb-2">Update</button>
                        </div>
                        {% else %}
                        <h3 class="text-center text-white">You do not have permission to edit this review</h3>
                        {% endif %}
                        {% else %}
                        <h3 class="text-center text-white">You must be logged in to edit a review</h3>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>


</body>

{% endblock %}