{% extends "base.html" %}
{% load static %}

{% block content %}

<body id="home-bg-image" class="space-mono home-background">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible alert-success roboto text-dark-blue text-center" role="alert">
        <strong>{{message}}</strong>
        <button class="close alert-button" data-dismiss="alert">
            ×
        </button>
    </div>
    {% endfor %}
    {% endif %}
    <div class="container-fluid">
        <div class="row text-white text-center fixed-bottom fixed-row-bottom">
            <div class="col">
                <h1>Welcome to the Sci-Fi Portal</h1>
                <h4>An online community devoted to science fiction literature</h4>
                {% if user.is_authenticated %}
                <div class="container">

                    <div class="row height d-flex justify-content-center align-items-center">
            
                        <div class="col-md-8">
            
                            <div class="search justify-content-center align-items-center">
                                
                                <input type="text" class="form-control text-center text-white search-field" placeholder="Search books">
                                <button class="btn btn-light btn-outline search-btn"><i class="fa fa-search"></i></button>
                            </div>
            
                        </div>
            
                    </div>
                </div>
                {% else %}
                <a href="{% url 'account_signup' %}" class="btn btn-primary btn-sm button-margin">Register</a>
                <a href="{% url 'account_login' %}" class="btn btn-light btn-sm button-margin"> Log In </a>
                {% endif %}
            </div>
        </div>
    </div>
    
</body>

{% endblock %}