{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block title %}
Profile
{% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success roboto text-dark-blue alert-dismissible fade text-center show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}

<body id="profile-bg-image" class="text-white roboto">

    {% if user.is_authenticated %}

    <h2 class="text-center my-3">My profile</h2>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card mt-3 bg-opacity profile-card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ user.userprofile.user_image.url }}" class="img-fluid profile-img rounded-start"
                                alt="...">
                        </div>
                        <div class="col-md-8 text-align-left">
                            <div class="card-body h-100">
                                <h4 class="book-title">Username: {{ user.username }}</h4>
                                <h5 class="book-subtitle">Name: {{ user.first_name }} {{user.last_name}}</h5>
                                <h5 class="book-subtitle">Email: {{ user.email}}</h5>
                                <p class="text-white">{{ user.userprofile.bio }}</p>
                                <p class="text-white">Joined: {{ user.date_joined }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <h3 class="text-white text-center mt-3">Update your details below...</h3>
                <button type="button" onclick="changeStyle()"
                    class="btn btn-outline btn-light text-center bg-opacity text-dark-blue mt-3 edit-profile-btn">Edit
                    Profile</button>
            </div>
        </div>
    </div>

    <div id="profile-form" class="container" style="display: none;">
        <div class="row justify-content-center">
            <div class="col col-lg-8 mt-3 mb-3">
                <br>
                <form method="POST" enctype="multipart/form-data" class="form-control bg-opacity profile-form">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    <div class="col text-center">
                        <button class="btn btn-outline btn-light text-dark-blue update-profile-btn" type="submit">Update
                            Profile</button>
                    </div>

                    {% else %}
                    <h3 class="text-center text-white">You must be logged in to edit this profile</h3>
                        
                    {% endif %}
            </div>
        </div>
    </div>

    {% endblock %}